{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{ super() }}
  <link href="https://cdn.datatables.net/v/bs/dt-1.13.8/datatables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}

{% block title %}
  {% if title %}
    {{ title }} - Hydro online
  {% else %}
    Willkommen bei Hydro online
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdn.datatables.net/v/bs/jq-3.7.0/dt-1.13.8/datatables.min.js"></script>
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('start_page') }}">Hydro online</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('pflanzen_page') }}">Anregungen</a></li>
          {% if current_user.is_admin %}
          <li><a href="{{ url_for('administer') }}">Admin-Bereich</a></li>
          {% else %}
          <li class="disabled"><a href="{{ url_for('administer') }}">Admin-Bereich</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            <li class="disabled"><a href="{{ url_for('login') }}">Anmelden</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
            <li><a href="{{ url_for('login') }}">Anmelden</a></li>
            <li class="disabled"><a href="{{ url_for('logout') }}">Logout</a></li>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
{% endblock %}

{% block content %}
  <!-- Alerts -->
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
  {% endwith %}
  {% block my_content %}{% endblock %}
{% endblock %}